# a local directory allow contributors to keep some files for us
/local/
RESSOURCES OVERAIL.lnk
/unity_over_rail/[Aa]ssets/Mirror-master/
/unity_over_rail/[Aa]ssets/Mirror/
/unity_over_rail/[Aa]ssets/ScriptTemplates/

/unity_over_rail/[Aa]ssets/Mirror.meta
/unity_over_rail/[Aa]ssets/Mirror-master.meta

/unity_over_rail/[Aa]ssets/Plugins/ParrelSync
/unity_over_rail/[Aa]ssets/Plugins/ParrelSync.meta
/unity_over_rail/[Aa]ssets/TextMesh Pro



unity_over_rail_clone_0